body {  
    background-color: rgba(62, 86, 224, 0.856);
    font: normal 15 pts Arial;
}

header {
    color: white;
    text-align: center;
    font: normal 15 pts Arial;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

input {
    width: 150px;
    margin-top: 20px;
}
